.area {
    background: linear-gradient(to bottom, #1b1b1b, transparent);
    height: 100vh;
}

.container {
    margin: 0 auto;
    width: 90vw; 
    max-width: 1200px; 
    min-width: 300px;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.image {
    width: 37%;
    height: 500px;
}

.text {
    font-size: 22px;
    line-height: 33px;
    margin: 20px 0 30px 0;
}

.intro {
    font-size: 43px;
}

.intro span {
    color: #0079FF; 
    border-right: .15em solid #0079FF; 
    animation: 25s steps(15), blink-caret .75s step-end infinite; 
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #0079FF }
}

.button {
    background: linear-gradient(to right, #01BDF8 30%, #0079FF 80%);
    border: none;
}








