.section {
    background: linear-gradient(to top, #1b1b1b, transparent);
}

.container {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
