header {
    position: fixed; /* Закріплюємо хедер */
    top: 0; /* Зафіксовуємо його зверху */
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #111111;
    color: #F6EFEF;
    z-index: 999;
}
.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container > a {
    height: 27px;
}

.navigation {
    display: flex;
    gap: 42px;
    font-size: 21px;
}

.nav-item:hover {
    cursor: pointer;
   
}

/* Анімація для активного посилання */
.nav-item.active-about {
    color: #b550f98e; /* Новий колір для активного посилання */
    font-weight: 500; /* Нова товщина шрифту для активного посилання */
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.nav-item.active-portfolio {
    color: #e0cf35dd;
    font-weight: 500;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.nav-item.active-contact {
    color: #6dc9c98e;
    font-weight: 500;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

